body {
    display: grid;
    grid-template-columns: 10% auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav aside main"
        "footer footer footer"
    ;
}


nav {
    background-color: #0B132B;
    color: white;
    grid-area: nav;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

.navigationBar li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30%;
    padding-bottom: 40%;
    text-decoration: none;
    text-align: center;
    color: ghostwhite;
    font-size: 1em;
}



nav li:first-child {
    margin-top: 20%;
    text-decoration: none;
}