@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand&family=Tilt+Prism&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@1&display=swap');

* {
    margin: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer"
    ;
    background-color: whitesmoke;
}



header {
    grid-area: header;
    background-color: ghostwhite;
    padding: 1em;
    margin: 0;
}

.head {
    font-size: 2em;
    font-family: 'Tiro Devanagari Hindi', serif;
    text-align: center;
    align-items: center;
    justify-content: right;
    padding: 0.5em;
    color: #0B132B;
    border-radius: 20px;
    margin: 0.5em;
}

.head:hover{
    color: white;
    background-color: rgb(71, 71, 115);
}


.workex {

    color: #0B132B;
}

.workex:hover {
    color: #0B132B;
    transform: skew(30deg, 20deg);
    transform: scale(2, 0.5);

}

main {
    background-color: ghostwhite;
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "proj_one"
        "proj_two"
        "proj_three"
        "proj_four"
    ;
}

h1{
    font-family: 'Tiro Devanagari Hindi', serif;
}



section:nth-child(odd) {
    background-color: #0B132B;
    color: ghostwhite;
}


footer {
    background-color: #0B132B;
    grid-area: footer;

}

.logo {
    display: inline;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
}

.footlist a {
    text-decoration: none;
    color: ghostwhite;
}

.footlist {
    font-size: 15pt;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-left: 4%;
    list-style: none;
    display: inline-block;
    padding: 1%;
    margin: 0;
}

.footlist:first-child {
    margin-left: 2%;
}







main section {
    -webkit-transition: 600ms ease 100ms;
    -moz-transition: 600ms ease 100ms;
    transition: 600ms ease 100ms;
}

section:hover {
    padding: 10lvh;
}


/*
#wrap:hover section:not(:hover) {
    filter: blur(3px);
}
*/