@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand&family=Tilt+Prism&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@1&display=swap');


* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}


header {
    background-color: #0B132B;
    grid-area: header;
    padding: 1.2em;
    justify-content: space-evenly;
    /**align-items: center;
    **/
}

main {
    background-color: whitesmoke;
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;

    /**border-left: 2px;
    border-left-color: black;
    border-left-style : dashed;**/
}

aside {
    background-color: whitesmoke;
    grid-area: aside;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #0B132B;
    grid-area: footer;
    height: 150%;
}


.moreButton {
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #0B132B;
    padding: 0.5em;
    font-size: 1em;
    color: white;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 2em;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Tiro Devanagari Hindi', serif;
}

.moreButton:hover {

    color: ghostwhite;
    animation: button 2s 1;
}


@keyframes button {

    0%,
    100% {
        font-size: 1em;
    }

    50% {
        font-size: 1.3em;
    }
}



img {
    border-radius: 100px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

img:hover {
    animation: rise 5s infinite;
}

@keyframes rise {
    0%,100% {}

    50% {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        border-top-right-radius: 20%;
        border-top-left-radius: 20%;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
    }
}

h1 {
    align-items: center;
    margin-left: 19.5%;
}

div{
    padding:0;
}

.name {
    font-family: 'Tiro Devanagari Hindi', serif;
    font-weight: 800;
    font-size: 4em;
    margin-top: 2em;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #0B132B;
    padding-right: 2em;
    margin-bottom:0;
    padding-bottom: 0;
}

.intro {
    font-size: 1.2em;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    color: #0B132B;
    padding-right: 6em;
    margin-top: 0;
    padding-top: 0;
}

.logo {
    display: inline;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
    border: 4px groove #0B132B;
}

.footlist a {
    text-decoration: none;
    color: white;
}

.footlist {
    font-size: 15pt;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-left: 4%;
    list-style: none;
    display: inline-block;
}

.footlist:first-child {
    margin-left: 2%;
}



@keyframes big {

    0%,
    100% {
        background-color: white;
        color: black;
        font-size: 1em;
    }

    50% {
        background-color: #0B132B;
        font-size: 1.5em;
        color: white;
    }
}

#home:hover {
    background-color: ghostwhite;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

#portfolio:hover {
    background-color: ghostwhite;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

#contact:hover {
    background-color: ghostwhite;
    color: black;
    text-decoration: none;
    font-size: 1.2em;

}

#work:hover {
    background-color: ghostwhite;
    color: black;
    text-decoration: none;
    font-size: 1.2em;

}

#report:hover {
    background-color: ghostwhite;
    color: black;
    text-decoration: none;
    font-size: 1.2em;

}



#home:hover a {
    color: black;
}

#portfolio:hover  a{
    color: black;
}

#contact:hover a{
    color: black;
}

#work:hover a {
    color: black;
}

#report:hover a {
    color: black;

}


.quote {
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin: 0;
    color: red;
    animation: slide 20s infinite ease-out;
    overflow: hidden;
}

@keyframes slide {
    0%{
        transform: translate(-100vw,0vh);
    }
    70%{
        transform: translate(1.5vw,0vh);
        padding-right: 0;
        margin-right: 0;
        color: white;
    }
    100%{
        display: none;
    }
}